{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
    {% if error %}
        <h2 class="post-title">没有相关文章题目</a></h2>
    {% else %}
    {% for post in object_list %}
    <hr>
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' pk=post.id %}">{{ post.title|truncatechars_html:26 }}</a></h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ post.timestamp }}</a> <a class="post-category post-category-js" href="#">python</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.body|custom_markdown|truncatechars_html:100 }}
                    </p>
                </div>
                <a class="pure-button" href="{% url 'detail' pk=post.id %}">Read More >>> </a>
        </section>
    {% endfor %}
    {% endif %}
</div><!-- /.blog-post -->
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><<-previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next->></a>
        {% endif %}
    </span>
    </div>
{% endblock %}
