{% extends "base.html" %}

{% block content %}
<div class="posts">
<hr>
    {% for date in dates %}
    <section class="post">
            <h2 class="post-title">{{ date }}</h2>
    </section>
    {% for post in object_list %}
    {% if post.timestamp.date == date %}
    <section>
            <p class="post-description"><a href="archive/{{ post.id }}/">{{ post.title }}</a></p>
            <p class="post-meta">
                Time:  <a class="post-author" href="#">{{ post.timestamp }}</a> <a class="post-category post-category-js" href="#">python</a>
            </p>
    </section>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><<-previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next->></a>
        {% endif %}
    </span>
    </div>
</div><!-- /.blog-post -->
{% endblock %}