


                   <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>ckthewu's home</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/marketing.css">
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/home/">back to home</a>
    </div>
</div>
<div class="splash-container">
    <div class="splash">
        {% if error %}
        <p class="splash-subhead">
            Wrong username or password.
        </p>
        {% else %}
        <p class="splash-subhead">
            Log in and you will have the right to create a blog.
        </p>
        {% endif %}

        <form class="form" action="in/" method=post>
            <p class="splash-subhead">
                <fieldset class="pure-group">
                {% csrf_token %}
                <input type="text" class="pure-input-2-3" placeholder="Username" name="username"><br><br>
                <input type="password" class="pure-input-2-3" placeholder="Password" name="password">
                </fieldset>
            </p>
            <p>
                <button type="submit" class="pure-button">Log in</button>
            </p>
        </form>

        <p>
        </p>
    </div>
</div>
</body>
</html>