{% extends "weibobase.html" %}
{% block content %}
<div class="posts">
    <h4>{{ user }}</h4>
    <form class="post" action="commit/" method=post>
    {% csrf_token %}
        <div>
            内容:<br>
            <textarea class="post-description" name=body rows=3 cols=60></textarea><br/>
        </div>
    <input type=submit value="确认">
    </form>
        {% for content in contents %}
        <section class="weibo">
            <header class="weibo-head">
                <img src="{{ content.user.profile_image_url }}" class="weibo-icon"/>
                <div class="weibo-head-content">
                    <a href="http://weibo.com/{{ content.user.domain }}" class="weibo-head-name">
                        {{ content.user.screen_name }}
                    </a>
                    <div class="weibo-head-imf">
                        Time:{{ content.created_at }}<br>
                        From:{% autoescape off %}{{ content.source }}{% endautoescape %}
                        {{ content.pic_urls|length }}
                    </div>
                </div>
            </header>
                <div class="weibo-content">
                        {{ content.text }}
                    {% if content.pic_urls %}
                    <br>
                    <button class="hidephoto">hide</button>
                    <div class="photo">
                        <div>
                            {% for url in content.pic_urls %}
                            <img src="{{ url.thumbnail_pic }}" border="163">
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                    <div class="weibo-repost">
                        {% if content.retweeted_status %}
                        @{{ content.retweeted_status.user.screen_name }}:{{ content.retweeted_status.text }}<br>
                        {% if content.retweeted_status.pic_urls %}
                        <button class="hidephoto">hide</button>
                        <div class="photo">
                            {% for url in content.retweeted_status.pic_urls %}
                            <img src="{{ url.thumbnail_pic }}">
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
        </section>
    <hr>
        {% endfor %}

</div>
    <div class="pagination">
    <span class="step-links">
        {% if page > 1  %}
            <a href="?page={{ page|add:'-1' }}"><<-previous</a>
        {% endif %}
        <span class="current">
            Page:{{ page }}
        </span>
            <a href="?page={{ page|add:'1' }}">next->></a>
    </span>
    </div>
{% endblock %}
