{% extends "weibobase.html" %}
{% block content %}
<div class="posts">
    <h4>{{ user }}</h4>
    <form class="post" action="commit/" method=post>
    {% csrf_token %}
        <div>
            内容:<br>
            <textarea class="post-description" name=body rows=3 cols=60></textarea><br/>
        </div>
    <input type=submit value="确认">
    </form>
        {% for content in contents %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">
                    <a href="http://weibo.com/{{ content.user.domain }}">
                        <img src="{{ content.user.profile_image_url }}"/>{{ content.user.screen_name }}
                    </a>
                </h2>
                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ content.created_at }}</a><br>
                        From:{% autoescape off %}{{ content.source }}{% endautoescape %}
                        {{ content.pic_urls|length }}
                    </p>
            </header>
                <div class="post-description">
                    <p>
                        {{ content.text }}
                    </p>
                    <div class="post-meta">
                        {% if content.retweeted_status %}
                        @{{ content.retweeted_status.user.screen_name }}:{{ content.retweeted_status.text }}<br>
                        <div>
                            {% for url in content.retweeted_status.pic_urls %}
                            <img src="{{ url.thumbnail_pic }}">
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="photo">
                        <div>
                            {% for url in content.pic_urls %}
                            <img src="{{ url.thumbnail_pic }}" border="163">
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </section>
    <hr>
        {% endfor %}

</div>
    <div class="pagination">
    <span class="step-links">
        {% if ppage  %}
            <a href="?page={{ ppage }}"><<-previous</a>
        {% endif %}

        <span class="current">

        </span>
            <a href="?page={{ npage }}">next->></a>
    </span>
    </div>
{% endblock %}
